*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(190, 255, 147);

}
main{
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
    

}
.images{
    position: absolute;
    height: 100%;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}
h1{
    margin: 3rem 0rem;
    font-family: 'Sacramento', cursive;
    text-decoration: none;
    font-size: 1vmw;
    padding-left: 4rem;

}
p{
    margin: 1rem;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 3rem;

}
ol{
    text-align: left;
    padding-left: 2rem;
}
ul{
    text-align: left;
    padding-left: 8rem;
    line-height: 2em;
    font-size: 1vmax;
}
h4{
    font-family:'Raleway', sans-serif;
    margin: 2rem;
    font-size: 5vmin;
}

a{
    font-family: 'Cinzel', serif;
    text-decoration: wavy underline;
}

a{
    color: white;
}
.logo{
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 20px;
    width: 10vmin;
    border-radius: 50%;
}
@media  (max-width: 600px){
    ul{
        font-size: 1.5vmax;
    }
    h1{
        padding: 0;
        display: grid;
        place-content: center;
        font-size: 1rem;

    }
}