*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: red;
    position: absolute;
    display: grid;
    z-index: 1000;
}
.logo img{
    position: absolute;
    border-radius: 50%;
    width: 4vmax;
    top: 1rem;
    left: 1rem;
}
.topcontent{
    height: 70vh;
    width: 100%;
    display: grid;
    background-color: rgba(176, 85, 204, 0.473);
    display: grid;
    place-content: center;
    position: relative;
    text-align: center;
}
.topcontent h1{
    z-index: 1;
    color: rgb(255, 255, 255);
    font-size: 15vmin;
    letter-spacing: 15px;
}
.topcontent h2{
    z-index: 1;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-size: 3vmin;
    
}
.top{
    width: 100%;
    position: absolute;
    height: 70vh;
    object-fit: cover;
}

.midcontent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    place-items: center;

    
}
.cell{
    margin: 4rem;
    width: 30vw;
}
.cell img{
    width: 80px;
}
.cell h1{
    margin: 1rem;
}
.cell p{
    font-size: 20px;
}
.cell3{
    grid-column: 1/ -1;
    margin: 5rem;
}
.cell button{
    margin: 2rem;
    border-radius: 35px;
    padding: .5em;
    border: none;
    background-color: black;
}
.cell a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    letter-spacing: 3px;
    padding: 1em;
    
    
}
:hover.cell button{
    background-color: rgb(20, 111, 216);
}
.footer{
    text-align: center;
    display: grid;
    
    grid-template-rows: 1fr 4fr;
    width: 100%;
    border:none;
    background-color: black;
    color: white;

}
.tagg h1{
    text-align: left;
}
.footer a{
    color: white;
    text-decoration: none;
   
    
    cursor: pointer;
    
   
    
    font-size: .85em;


}
.footer p{
    
    display: inline-block;
    padding: 16px;
    font-size: 1em;

}
.insta{
    margin: auto;
}

@media (max-width: 700px){
    .midcontent{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        place-items: center;
    
        
    }
    .cell{
        margin: 1rem;
        width: 90%;
        border-bottom: 1px solid black;
    }
    .topcontent h1{
        z-index: 1;
        color: rgb(255, 255, 255);
        font-size: 8vmax;
        letter-spacing: 13px;
    }
    .topcontent h2{
        z-index: 1;
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
        font-size: 3vmax;
        
    }
    .footer a{
        color: white;
        text-decoration: none;
       
        
        cursor: pointer;
        
       
        
        font-size: .7em;
    
    
    }
    .footer p{
        
        display: block;
        padding: 16px;
        font-size: 1em;
    
    }
    .tagg h1{
        text-align: left;
        font-size: 18px;
    }
}
