* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.totalnav {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

/* .logo{
    position: fi;
    top: 3vmin;
} */
.citizen_logo {
    position: relative;
    width: 5vw;
    border-radius: 50%;
    margin-top: 5%;
    left: 3%;
    z-index: 10;
    opacity: 100%;
    display: grid;
    place-content: left;
}

/* :hover.citizen_logo{
     opacity: 70%;
     background-color: rgb(223, 236, 37);
 } */

.navbar {
    z-index: 5;

    display: grid;
    align-items: center;
    justify-content: right;



}



#navlinks {
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    line-height: 1.5;

    font-family: 'Poppins', sans-serif;
    padding: 1rem;



}

:hover#navlinks {
    color: #8d8d8d;
}

.topcontent {
    height: 70vh;
    width: 100%;
    display: grid;
    background-color: rgba(176, 85, 204, 0.473);
    display: grid;
    place-content: center;
    position: relative;
    text-align: center;
}

.topcontent h1 {
    z-index: 1;
    color: rgb(255, 255, 255);
    font-size: 15vmin;
    letter-spacing: 12px;
}

.topcontent h2 {
    z-index: 1;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-size: 3vmin;

}

.top {
    width: 100%;
    position: absolute;
    height: 70vh;
    object-fit: cover;
}

.midcontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    place-items: center;


}

.cell {
    margin: 4rem;
    width: 30vw;
}

.cell img {
    width: 80px;
}

.cell h1 {
    margin: 1rem;
}

.cell p {
    font-size: 20px;
}

.cell3 {
    grid-column: 1/ -1;
    margin: 5rem;
}

.cell button {
    margin: 2rem;
    border-radius: 35px;
    padding: .5em;
    border: none;
    background-color: black;
}

.cell a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    letter-spacing: 3px;
    padding: 1em;


}

:hover.cell button {
    background-color: rgb(20, 111, 216);
}


.footer {
    text-align: center;
    display: grid;

    grid-template-rows: 1fr 4fr;
    width: 100%;
    border: none;
    background-color: black;
    color: white;

}

.tagg h1 {
    text-align: left;
}

.footer a {
    color: white;
    text-decoration: none;


    cursor: pointer;



    font-size: .85em;


}

.footer p {

    display: inline-block;
    padding: 16px;
    font-size: 1em;

}

.insta {
    margin: auto;
}

@media (max-width: 700px) {
    .citizen_logo{
        width: 15vw;
    }
    
    #navlinks{
        font-size: 4vw;
    }
    .totalnav{
        display: grid;
        position: absolute;
        grid-template-columns: 1fr 4fr;
        width: 100%;
    }
    .midcontent {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        place-items: center;


    }

    .cell {
        margin: 1rem;
        width: 85%;
        border-bottom: 1px solid black;
    }

    .topcontent h1 {
        z-index: 1;
        color: rgb(255, 255, 255);
        font-size: 8vmax;
        letter-spacing: 8   px;
    }

    .topcontent h2 {
        z-index: 1;
        color: rgb(255, 255, 255);
        letter-spacing: 2px;
        font-size: 3vmax;

    }

    .footer a {
        color: white;
        text-decoration: none;


        cursor: pointer;



        font-size: .7em;


    }

    .footer p {

        display: block;
        padding: 16px;
        font-size: 1em;

    }

    .tagg h1 {
        text-align: left;
        font-size: 18px;
    }
    .cell p{
        font-size:17px;
    }
}