* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: cell;


}

main {
    display: grid;
    grid-template-rows: 1fr;
    

}

.logo {
    z-index: 10000;
    border-radius: 50%;
    position: absolute;
    width: 5vw;

    top: 2%;
    left: 2%;
}

.topc {
    height: 50vh;
    width: 100%;
    display: grid;
    background-color: rgb(211, 226, 255);


}



.vidmain {
    position: absolute;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    

}

.words {

    display: grid;


    margin: auto;
    z-index: 1000;


}

.title {
    color: white;

    font-size: 7vw;

}





.dev {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 15vh;
    display: grid;
    align-items: center;
}

.dev h1 {
    font-size: 3vmax;
    text-align: center;
}



.outcom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (1fr);

    
    
    
    /* background-image: linear-gradient(to right, rgb(152, 129, 196), rgb(82, 167, 224)); */

}
.dot10 {
    grid-column: 1/ -1;
    text-align: center;
    
    /* background-image: linear-gradient(to right, white, white); */
    border: solid white 1vw;
}
.dot10 h3{
    font-size: 2em;
}
.dot7 {

    grid-column: 1/ -1;
}


.outcom .dot7, .dot1, .dot2, .dot3, .dot4, .dot5, .dot6 {
    text-align: center;
    
   

}

.dot1{
    grid-column: 1/ -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin-bottom: 3vh;
    
}

.right img{
    width: 20vmax;
    height: 20vmax;
    object-fit: cover;
    justify-content: left;
    display: grid;
}
.dot2{
    grid-column: 1/ -1;

}
.dot2 img{
    width: 85%;
    height: 40vh;
    object-fit: cover;
}
.dot3{
    grid-column: 1/ -1;
    
}
.cell{
    margin: 3vh;
}
.cell h2{
    font-family: 'ABeeZee', sans-serif;
    letter-spacing: 8px;
    font-size: 2rem;
}

.cell img{
    width: 20vmax;
    height: 15vmax;
    object-fit: cover;
}
.cellcon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    
}

.footer{
    grid-column: 1/ -1;
    display: grid;
    
    grid-template-rows: 1fr 2fr;
    width: 100%;
    border:none;
    background-color: black;
    color: white;

}
.footer a{
    color: white;
    text-decoration: none;
   
    
    cursor: pointer;
    
    /* background-image: linear-gradient(to right, rgb(233, 166, 166), rgb(117, 108, 240)); */
    
    font-size: .8em;


}
.footer p{
    
    display: inline;
    
}
.insta{
    margin: auto;
}
.outcom p {
    width: 80%;
    margin: auto;
    padding:1rem;
    font-size: 19px;
}

.enginepng {
    width: 7vmin;

    margin: 10px;
}

.outcom h1 {
    margin: 0 0 1em 0;
    font-family: Arial, Helvetica, sans-serif;
}




@media (max-width: 700px) {
    .logo {
        width: 10vw;
    }

    .topc {
        height: 70vh;
        width: 100%;
        
        background-color: white;
    
    
    }
    
    
    
    .vidmain {
        position: absolute;
        width: 100%;
        height: 70vh;
        object-fit: cover;
        
    
    }

    .words {

        margin: auto;
    }

    .title {
        color: white;
        margin: auto;
        font-size: 11vmin;

    }

    

    .banner1,
    .banner2,
    .banner3,
    .banner4 {
        height: 100%;
        width: 100%;

        position: absolute;

        overflow: hidden;


    }

    .textbox {


        position: absolute;
        top: 15vh;
        left: 2vw;
        color: rgb(255, 255, 255);
        animation: textup 12s linear infinite;
        transform: translateY(100px);
    }

    .textbox h1 {
        font-size: 7vmin;
        margin-bottom: 40px;
    }

    .textbox p {
        font-size: 14px;
        line-height: 18px;
        margin-top: 18px;
    }
    .outcom {
        display: grid;
        grid-template-columns: 1fr;
        
    
        width: 100%;
    
        margin: 1vh auto 0 auto;
        /* background-image: linear-gradient(to right, rgb(152, 129, 196), rgb(61, 138, 189)); */
    
    }
    .enginepng {
        width: 9vmin;
    
        margin: 10px;
    }
   
    .outcom h3{
        font-size: 25px;
    }
    .footer p{
        
        display: inline-block;
        
    }
    .insta{
        text-align: center;
    }
    .footer a{
        font-size: .65em;
    }
    .cellcon{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(1fr);
        
    }
    .cell img{
        width: 90%;
        height: 25vmax;
        object-fit: cover;
    }
    .cell{
        margin: 3vh;
    }
    .cell h2{
        font-family: 'ABeeZee', sans-serif;
        letter-spacing: 8px;
        font-size: 1.7rem;
    }
    .dot4{
        border-top: 1px solid black;
    }
    .right img{
        width: 25vmax;
        height: 30vmax;
        object-fit: cover;
        justify-content: left;
        display: grid;
    }
}
