* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: cell;
    
    
}

main {
    display: grid;
    grid-template-rows: 1fr;


}
.logo{
    z-index: 10000;
    border-radius: 50%;
    position: absolute;
    width: 5vw;
    
    top: 2%;
    left: 2%;
}
.topc {
    height: 100vh;
    width: 100%;
    display: grid;
    background-color: white;
    

}



.vidmain {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 70%;

}

.words {
    
    display: grid;
    width: 80vw;
    grid-template-columns: 1fr;
    margin: auto;
    z-index: 1000;
    

}

.title {
    color: white;
    
    font-size: 7rem;
    
}
h7{
    font-size: 3rem;
    margin: 1rem;
}
.contone{
    color: rgb(255, 255, 255);
    
    
}

.incon{
    position: relative;
    
}
.banner1, .banner2, .banner3, .banner4{
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  
}
.slides{
    width: 120%;
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    opacity: 40%;
    animation: zoom-out 3s linear infinite;
    
}
@keyframes zoom-out{
    100%{
        width: 100%;
    }
}
.textbox{
    z-index: 99;
    width: 600px;
    position: absolute;
    top: 200px;
    left: 100px;
    color: rgb(255, 255, 255);
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}
.textbox h1{
    margin-bottom: 40px;
}
.textbox p{
    font-size: 14px;
    line-height: 18px;
    margin-top: 18px;
}
.banner1{
    animation: slide1 12s linear infinite;
}
.banner2{
    animation: slide2 12s linear infinite;
}
.banner3{
    animation: slide3 12s linear infinite;
}
.banner4{
    animation: slide4 12s linear infinite;
}

@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
@keyframes textup {
    10%{
        transform:translateY(0px)
    }
    100%{
        transform: translateY(0px);
    }
}
.textbox1{
    animation-delay: 0s;
}
.textbox2{
    animation-delay: 3s;
}
.textbox3{
    animation-delay:6s;
}
.textbox4{
    animation-delay: 9s;
}