* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    text-align: center;

}



.totalnav {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

/* .logo{
    position: fi;
    top: 3vmin;
} */
.citizen_logo {
    position: relative;
    width: 5vw;
    border-radius: 50%;
    margin-top: 5%;
    left: 3%;
    z-index: 10;
    opacity: 100%;
    display: grid;
    place-content: left;
}

/* :hover.citizen_logo{
     opacity: 70%;
     background-color: rgb(223, 236, 37);
 } */

.navbar {
    z-index: 5;

    display: grid;
    align-items: center;
    justify-content: right;



}



#navlinks {
    color: #bbbbbb;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    line-height: 1.5;

    font-family: 'Poppins', sans-serif;
    padding: 1rem;



}

:hover#navlinks {
    color: #ffffff;
}
.topc {
    height: 50vh;
    width: 100%;
    display: grid;
    background-color: rgb(211, 226, 255);


}



.vidmain {
    position: absolute;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    

}

.words {

    display: grid;


    margin: auto;
    z-index: 1000;


}

.title {
    color: white;

    font-size: 7vw;

}





.dev {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 15vh;
    display: grid;
    align-items: center;
}

.dev h1 {
    font-size: 3vmax;
    
}



.outcom {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.outcom h2 {
    font-family: 'Nunito', sans-serif;
    
    
    
}

h7{
    font-size: 20px;
    line-height: 1.2em;
    
}
.dot10 {
    grid-column: 1/ -1;
    text-align: center;
    
    /* background-image: linear-gradient(to right, white, white); */
    border: solid rgb(255, 255, 255) 1vw;
}
.dot10 h3{
    font-size: 2em;
}
.dot7 {

    grid-column: 1/ -1;
}


.dot1, .dot2 ,.dot3 ,.dot4 ,.dot5 ,.dot6{
    margin: 2em 2em 4em 2em;
}


.dot1{
    grid-column: 1/ -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin-bottom: 3vh;
    
}

.right img{
    width: 20vmax;
    height: 20vmax;
    object-fit: cover;
    justify-content: left;
    display: grid;
}
.dot2{
    grid-column: 1/ -1;
    

}
.dot2 img{
    width: 85%;
    height: 40vh;
    object-fit: cover;
    margin-top: 3vh;
}
.dot2 h2{
    margin-bottom: 2em;
    letter-spacing: 10px;
}
.hfor{
    margin-bottom: 2em;
    letter-spacing: 10px;
}
.dot4 h2{
    margin-bottom: 2em;
    letter-spacing: 10px;
}
.dot5 h2{
    margin-bottom: 2em;
    letter-spacing: 10px;
}
.dot6 h2{
    margin-bottom: 2em;
    letter-spacing: 10px;
}
.dot7 h2{
    margin-bottom: 2em;
}
.dot3{
    grid-column: 1/ -1;
    
}
.cell{
    margin: 3vh;
}
.cell h2{
    font-family: 'ABeeZee', sans-serif;
    letter-spacing: 8px;
    font-size: 2rem;
    
}

.cell img{
    width: 20vmax;
    height: 15vmax;
    object-fit: cover;
}
.cellcon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    
}

.footer{
    grid-column: 1/ -1;
    display: grid;
    
    grid-template-rows: 1fr 4fr;
    width: 100%;
    border:none;
    background-color: black;
    color: white;

}
.tag h1{
    text-align: left;
}
.footer a{
    color: white;
    text-decoration: none;
   
    
    cursor: pointer;
    
    /* background-image: linear-gradient(to right, rgb(233, 166, 166), rgb(117, 108, 240)); */
    
    font-size: .8em;


}
.footer p{
    
    display: inline;
    padding: 16px;
    
}
.insta{
    margin: auto;
}
.outcom p {
    width: 80%;
    margin: auto;
    padding:1rem;
    font-size: 19px;
}

.enginepng {
    width: 7vmin;

    margin: 10px;
}



.teamup{
    text-align: center;
    border-top: solid 2px black;
}
.teamup h2{
    margin-top: 2em;
}
.teamup button {
    margin: 2rem;
    border-radius: 35px;
    padding: .5em;
    border: 1px black solid;
    background-color: black;
}

.teamup a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(20, 111, 216);
    letter-spacing: 3px;
    padding: 1em;


}

:hover.teamup button {
    background-color:   white ;
}


@media (max-width: 700px) {
    .citizen_logo{
        width: 15vw;
    }
    
    #navlinks{
        font-size: 4vw;
    }
    .totalnav{
        display: grid;
        position: absolute;
        grid-template-columns: 1fr 4fr;
        width: 100%;
    }
    .topc {
        height: 70vh;
        width: 100%;
        
        background-color: white;
    
    
    }
    
    
    
    .vidmain {
        position: absolute;
        width: 100%;
        height: 70vh;
        object-fit: cover;
        
    
    }

    .words {

        margin: auto;
    }

    .title {
        color: white;
        margin: auto;
        font-size: 11vmin;

    }

    

    .banner1,
    .banner2,
    .banner3,
    .banner4 {
        height: 100%;
        width: 100%;

        position: absolute;

        overflow: hidden;


    }

    .textbox {


        position: absolute;
        top: 15vh;
        left: 2vw;
        color: rgb(255, 255, 255);
        animation: textup 12s linear infinite;
        transform: translateY(100px);
    }

    .textbox h1 {
        font-size: 7vmin;
        margin-bottom: 40px;
    }

    .textbox p {
        font-size: 14px;
        line-height: 18px;
        margin-top: 18px;
    }
    .outcom {
        display: grid;
        grid-template-columns: 1fr;
        
    
        
        
        /* background-image: linear-gradient(to right, rgb(152, 129, 196), rgb(61, 138, 189)); */
    
    }
    .enginepng {
        width: 9vmin;
    
        margin: 10px;
    }
   
    .outcom h3{
        font-size: 25px;
    }
    .footer p{
        
        display: block;
        padding: 16px;
        
    }
    .insta{
        text-align: center;
    }
    .footer a{
        font-size: .65em;
    }
    .cellcon{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(1fr);
        
    }
    .cell img{
        width: 95%;
        height: 25vmax;
        object-fit: cover;
    }
    .cell{
        margin: 3vh;
    }
    .cell h2{
        font-family: 'ABeeZee', sans-serif;
        letter-spacing: 8px;
        font-size: 1.7rem;
    }
    .dot4{
        border-top: 1px solid black;
    }
    .right img{
        width: 25vmax;
        height: 30vmax;
        object-fit: cover;
        justify-content: left;
        display: grid;
    }
    .dot2 img{
        width:100%;
       
    }
    h7{
        font-size: 17px;
        line-height: 1.5em;
        
    }
    .outcom p {
        width: 95%;
        margin: auto;
        padding:1rem;
        font-size: 19px;
    }
    .tag h1{
        text-align: left;
        font-size: 18px;
    }
}