body{
    margin: 0;
    text-align: center;
    background-color: aliceblue;
}
.video{
   
   background-color: rgb(0, 0, 0);
   width: 100%;
   height: min-content;
}
.backimg{
    
    
    width: 100%;
   
    z-index: 500;
    opacity: 50%;
}



.citizen_logo {
    position: fixed;
    width: 5%;
    top: 7%;
    left: 3%;
    
    border-radius: 50%;
    z-index: 10;
    
   
}

.navbar{
    z-index: 5;
    
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    top: 5%;
    position: absolute;
   

}
.ullinks{
    margin: 0rem;
    padding: 0rem;
    
    text-align: right;
}
.navbar li {
    
    display: inline;
}

#navlinks{
    color :#ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Caveat', cursive;
    padding:0;
    margin:  3rem;
    margin: top bottom 0rem; 
    
}
:hover#navlinks{
    color:  #000000;
}

.linkgoogle{
    position: absolute;
    
    top: 0;
}